body{
margin:0;
font-family:Arial,sans-serif;
color:white;
text-align:center;
background:linear-gradient(270deg,#020024,#090979,#000000);
background-size:600% 600%;
animation:bgmove 12s ease infinite;
}
h1{
margin-bottom:8px;
text-shadow:0 0 18px #0b5cff;  
}

h2{
margin-top:6px;
}
@keyframes bgmove{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}
#particles-bg{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}
/* HEADER FIX */
header{
padding:90px 20px 50px;
max-width:900px;
margin:auto;
}
.navbar{
position:fixed;
top:0;
left:0;
width:100%;
background:rgba(0,0,0,0.7);
backdrop-filter:blur(10px);
padding:14px;
display:flex;
justify-content:center;
gap:25px;
z-index:1000;   /* IMPORTANT */
}

.navbar a{
color:white;
text-decoration:none;
font-weight:bold;
}

.navbar a:hover{
color:#0b5cff;
}
/* LOGO STYLE */
.logo{
font-size:44px;
font-weight:bold;
color:#0b5cff;
text-shadow:0 0 20px #0b5cff;
margin-bottom:10px;
}
.sub-info{
font-size:15px;
color:#cbd5e1;
}
/* BUTTON FIX */
.download-btn{
display:inline-block;
margin-top:20px;
padding:14px 32px;
background:#0b5cff;
color:white;
text-decoration:none;
border-radius:10px;
font-size:18px;
box-shadow:0 0 15px rgba(0,102,255,0.7);
transition:.3s;
}

.download-btn:hover{
transform:scale(1.05);
box-shadow:0 0 25px rgba(0,102,255,1);
}
.download-btn{
position:sticky;
top:20px;
z-index:5;
}
/* SECTIONS */
.section{
padding:40px 20px;
}

.card{
background:rgba(0,0,0,0.45);
backdrop-filter:blur(10px);
padding:28px;
border-radius:16px;
max-width:820px;
margin:auto;
box-shadow:0 0 25px rgba(0,0,0,0.6);
}
.card p{
margin-bottom:18px;
}
/* FORM */
textarea,select{
padding:10px;
border-radius:6px;
border:none;
width:90%;
max-width:500px;
background:#020024;
color:white;
}

button{
padding:12px 25px;
background:#0b5cff;
border:none;
border-radius:8px;
color:white;
font-size:16px;
cursor:pointer;
}

button:hover{
box-shadow:0 0 20px #0b5cff;
}
ul{
line-height:1.8;
}
/* FAQ */
.faq-question{
cursor:pointer;
font-weight:bold;
padding:12px;
background:#020024;
border-radius:6px;
}

.faq-answer{
display:none;
padding:10px;
color:#cbd5e1;
}

/* FOOTER */
footer{
margin-top:40px;
padding:20px;
background:rgba(0,0,0,0.5);
color:#94a3b8;
}
.arrow{
display:inline-block;
margin-right:8px;
transition:transform 0.3s ease;
font-size:20px;
}

.arrow.rotate{
transform:rotate(180deg);
}
/* Download Button Pulse Glow */
@keyframes pulseGlow{
0%{
box-shadow:0 0 15px rgba(11,92,255,0.5);
}
50%{
box-shadow:0 0 30px rgba(11,92,255,1);
}
100%{
box-shadow:0 0 15px rgba(11,92,255,0.5);
}
}

.download-btn.pulse{
animation:pulseGlow 2.5s infinite;
}
